.notifications {
  display: flex;
  flex: 0.7;
  height: 100vh;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
}

.notifications__header {
  padding-top: 3%;
  background-color: white;
  z-index: 100;
  padding: 15px 20px;
}

.notifications__box {
  display: flex;
  flex-direction: column;
  flex: 0.6;
  border-right: 1px solid var(--twitter-background);
}

.notifications__content > p {
  padding-top: 5%;
  text-align: center;
}